body {
    background-color: black;
    font-family: 'Economica', sans-serif;
}

header h1 .title {
    display: none;
}

header h1 {
    position: absolute;
    right: 50px;
    width: 728px;
    height: 90px;
    background-image: url('../svg/helpingpibot.svg');
}

header p {
    position: absolute;
    font-size: 18px;
    color: white;
    right: 130px;
}

header a {
    text-decoration: none;
    color: #B15dad;
}

header .dev {
    top: 105px;
}

header .music {
    top: 130px;
}

header .gameoff {
    font-weight: bold;
}

.canvas-container {
    position: absolute;
    border-bottom: 1px solid #CE3762;
    border-top: 1px solid #CE3762;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    left: 0;
}


footer {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;    
}

#libs {
    position: relative;
    width: 800px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}

#libs li {
    display: inline;
    margin-left: 60px;
    margin-right: 30px;
}

#libs a {
    font-size: 15px;
    font-family: 'Economica', sans-serif;
    text-decoration: none;
    color: white;
    border-top: none;
    border-bottom: none;
}

#libs a:hover {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.canvas-container .dialog {
    position: absolute;
    width: 30%;
    height: 0;
    left: 35%;
    bottom: 0;
    background-color: #81273f;
    border: 1px solid #ce3762;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #ff6e49;
    opacity: 0;
}

.dialog h1 {
    position: absolute;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    top: 1%;
    left: 1%;
    width: 98%;
    border-bottom: 1px solid #ff6e49;
}

.dialog button {
    position: absolute;
    border-radius: 3px;
    background-color: #ff6e49;
    border: 1px solid #cc3b16;
    bottom: 2%;
    right: 2%;    
    color: #ffb99e;
    font-size: 0.9em;
}

.dialog .close {
    position: absolute;
    right: 1%;
    top: 3%;
    width: 3%;
    height: 9%;
    border-radius: 3px;
    background-color: #ff6e49;
    border: 1px solid #cc3b16;
}

.dialog .close:hover {
    border: 1px solid white;   
}

.dialog .chunk-list {
    position: absolute;
    overflow: hidden;
    left: 10%;
    right: 10%;
    top: 40%;
    bottom: 30%;
    border: 1px solid #ce3762;
    background-color: #ff977c;
}

.chunk-list .wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 11000%;
    overflow: hidden;
}

.wrapper .chunk {
    position: relative;
    display: inline-block;
    border: 1px dotted #ce3762;
    width: 0.1%;
    height: 100%;
}

.wrapper .chunk.selected {
    background-color: #ae53c1;
}

.dialog .right-arrow {
    position: absolute;
    top: 40%;
    right: 5%;
    width: 3%;
    bottom: 30%;
    background-color: #ff6e49;
    border: 1px solid #cc3b16;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.dialog .right-arrow:hover {
    border: 1px solid white;   
}

.dialog .left-arrow {
    position: absolute;
    top: 40%;
    left: 5%;
    width: 3%;
    bottom: 30%;
    background-color: #ff6e49;
    border: 1px solid #cc3b16;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.dialog .left-arrow:hover {
    border: 1px solid white;   
}
